{% extends 'DmishhSettingsBundle::layout.html.twig' %}
{% trans_default_domain 'settings' %}

{% block content %}
    <div class="col-md-4">
        <h1>{% trans from 'settings' %}settings{% endtrans %}</h1>

        {{ form_start(settings_form) }}
        <div class="form-group">
            {{ form_label(settings_form.ok_bot_url) }}
            {{ form_errors(settings_form.ok_bot_url) }}
            {{ form_widget(settings_form.ok_bot_url) }}
        </div>
        <div class="form-group">
            {{ form_label(settings_form.ok_message_comment) }}
            {{ form_errors(settings_form.ok_message_comment) }}
            {{ form_widget(settings_form.ok_message_comment) }}
        </div>
        <div class="form-group">
            {{ form_label(settings_form.ok_group_id) }}
            {{ form_errors(settings_form.ok_group_id) }}
            {{ form_widget(settings_form.ok_group_id) }}
        </div>
        <div class="form-group">
            {{ form_label(settings_form.ok_app_id) }}
            {{ form_errors(settings_form.ok_app_id) }}
            {{ form_widget(settings_form.ok_app_id) }}
        </div>
        <div class="form-group">
            {{ form_label(settings_form.ok_app_public_key) }}
            {{ form_errors(settings_form.ok_app_public_key) }}
            {{ form_widget(settings_form.ok_app_public_key) }}
        </div>
        <div class="form-group">
            {{ form_label(settings_form.ok_app_secret_key) }}
            {{ form_errors(settings_form.ok_app_secret_key) }}
            {{ form_widget(settings_form.ok_app_secret_key) }}
        </div>
        <div class="form-group">
            {{ form_label(settings_form.ok_access_token) }}
            {{ form_errors(settings_form.ok_access_token) }}
            {{ form_widget(settings_form.ok_access_token) }}
        </div>
        <div class="form-group">
            {{ form_label(settings_form.ok_secret_session_key) }}
            {{ form_errors(settings_form.ok_secret_session_key) }}
            {{ form_widget(settings_form.ok_secret_session_key) }}
        </div>
        <div class="form-group">
            {{ form_label(settings_form.ok_graph_api_token) }}
            {{ form_errors(settings_form.ok_graph_api_token) }}
            {{ form_widget(settings_form.ok_graph_api_token) }}
        </div>
        <div class="row">
            <button class="btn btn-primary" type="submit" name="action">{% trans from 'settings' %}save{% endtrans %}
                <span class="glyphicon glyphicon-ok"></span>
            </button>
            <a class="btn btn-secondary" href="{{ path('sonata_admin_dashboard') }}">
                {% trans from 'settings' %}back{% endtrans %}
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
        {{ form_end(settings_form) }}
    </div>
{% endblock %}
