{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div>
            <h1>okNotifier</h1>
            <p>
                Приложение для рассылки личных сообщений о новых топиках в <a href="{{ group_url }}">группе</a>.
            </p>
            <a href="{{ path('subscribe') }}" target="_self">
                Подписаться на обновления
            </a>
        </div>
    </div>
{% endblock %}