{% extends 'base.html.twig' %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/oksdk.js') }}"></script>
    <script type="text/javascript">
        var currentUserUID = 0;
        document.addEventListener('DOMContentLoaded', function () {
            var config = {
                app_id: {{ app_id }},
                app_key: '{{ app_key }}'
            };

            OKSDK.init(config, function () {
                OKSDK.REST.call("users.getCurrentUser",
                        {fields: "UID"},
                        function (status, data, error) {
                            if (status == 'ok') {
                                currentUserUID = data.uid;
                            } else {
                                console.log('Error with retrieving current user ' + OKSDK.Util.toString(error));
                            }
                        });
            }, function (error) {
                console.log('OKSDK error' + OKSDK.Util.toString(error));
            })
        });

        function subscribe() {
            var return_url = '{{ base_url }}' + '/auth?uid=' + currentUserUID;
            OKSDK.Widgets.askGroupAppPermissions('MESSAGES_FROM_GROUP', return_url, {groupId: '54709190656225'});
        }
    </script>
{% endblock %}

{% block body %}
    <div class="container">
        <button onclick="subscribe()" class="btn btn-primary" type="submit" name="action">Подписаться
            <span class="glyphicon glyphicon-envelope"></span>
        </button>
    </div>
{% endblock %}