{% extends "@FOSUser/layout.html.twig" %}

{% block title %}Change password{% endblock %}
{% block fos_user_content %}
{% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
{% endblock fos_user_content %}
