{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div class="bg-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="col-md-4">
    <form action="{{ path("fos_user_security_check") }}" method="post">
        {% if csrf_token %}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
        {% endif %}
        <div class="form-group">
            <label for="username">{{ 'security.login.username'|trans }}</label>
            <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}"
                   required="required"/>
        </div>
        <div class="form-group">
            <label for="password">{{ 'security.login.password'|trans }}</label>
            <input type="password" id="password" class="form-control" name="_password" required="required"/>
        </div>
        <div class="checkbox">
            <label for="remember_me">
                <input type="checkbox" id="remember_me" class="checkbox" name="_remember_me"
                       value="on"/>{{ 'security.login.remember_me'|trans }}
            </label>
        </div>
        <button class="btn btn-primary" type="submit" name="action">{{ 'security.login.submit'|trans }}
            <span class="glyphicon glyphicon-ok"></span>
        </button>
    </form>
</div>