{% extends "@FOSUser/layout.html.twig" %}

{% block title %}Login{% endblock %}
{% block fos_user_content %}
    <div class="row">
        <div class="col-md-12">
            <h2>Login</h2>
        </div>
    </div>
    <div class="row">
        {{ include('@FOSUser/Security/login_content.html.twig') }}
    </div>
{% endblock fos_user_content %}
