{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-10" align="center">
            <h1><a href="{{ path('homepage') }}">Home</a></h1>
        </div>
        <div class="col-md-2">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a href="{{ path('fos_user_profile_show') }}">
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</a> |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>
    </div>

    <div class="container">
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}